/*for cart*/
main.cart {
    margin: 1em;
}

main.cart h4#myCart {
    font-size: 20pt;
    margin: 0.8em 0.5em;
    font-weight: normal;
}

main.cart div.container {
    background-color: azure;
    margin: 0.5%;
    padding: 2%;
    overflow: auto;
}

div.container div#chosenWorks {
    padding: 0.5em;
}

div.container div#noChosenWork {
    display: none;
    text-align: center;
    font-size: 20pt;
}

div#chosenWorks div.chosenWorks {
    background-color: lightyellow;
    margin: 1%;
    padding: 1.5%;
    border: lightgoldenrodyellow solid 2px;
    overflow: auto;
}

div.chosenWorks img.works {
    float: left;
    margin: 1%;
    width: 10%;
}

div.chosenWorks p.title {
    font-family: "Bradley Hand ITC", cursive;
    font-size: 20pt;
    margin: 0 1% 0 13%;
    padding: 0.3%;
}

div.chosenWorks p.artist {
    font-family: "Brush Script MT", cursive;
    font-size: 14pt;
    margin: 0 1% 0 13%;
    padding: 0.5%;
}

div.chosenWorks p.button {
    margin: 1% 1% 0 12%;
    padding: 0.5%;
}

div.chosenWorks p.button img {
    vertical-align: bottom;
}

div.chosenWorks p.button a {
    margin: 1%;
    padding: 1%;
    background-color: black;
}

div.container a#buy {
    float: right;
    margin: 0 2%;
    padding: 1%;
    background-color: black;
}

div.container a#buy img {
    vertical-align: bottom;
}

