/*for details*/
nav.details a#details {
    color: azure;
}

nav.details a#details:hover {
    color: cornflowerblue;
}

main.details {
    float: left;
    margin: 1em 0.5em;
    width: 68%;
}

section#work h4.title {
    font-family: "Bradley Hand ITC", cursive;
    font-size: 20pt;
    margin: 0.5em;
}

section#work h6.artist {
    font-family: "Times New Roman", serif;
    font-size: 10pt;
    margin: 0.5em;
    padding: 0.5em;
}

section#work h6.artist a {
    color: black;
}

section#work h6.artist a:hover {
    color: cornflowerblue;
}

section#work>img {
    float: left;
    margin: 0.5em;
    padding: 0.2em;
    max-width: 37%;
}

section#work div#related {
    margin: 0.5em 0.5em 0.5em 42%;
    padding: 0.2em;
    line-height: 1.5em;
    max-width: 55%;
}

div#related p#price {
    font-family: "Courier New", monospace;
    font-size: 14pt;
    font-weight: bold;
    margin: 0.4em 0;
}

p#price span {
    color: red;
}

p#button {
    margin: 0.4em 0;
    padding: 0.4em 0;
}

p#button img{
    vertical-align: bottom;
    margin: 0;
    padding: 0.2em;
}

p#button a {
    background-color: black;
    color: white;
    padding: 0.8em 0.8em 0.8em 0.5em;
    margin: 0.5em 0.5em 0.5em 0;
}

p#button a:hover {
    color: cornflowerblue;
}

body.details table{
    border: black solid 2px;
    border-collapse: collapse;
    margin: 0.8em 0;
    width: 100%;
}

body.details table caption {
    border: black solid 2px;
    background-color: lightgrey;
    font-weight: bold;
    font-size: 12pt;
    padding: 0.5em;
    border-bottom-style: hidden;
}

body.details table tr {
    border: black solid 2px;
}

body.details table tr td {
    padding: 0.5em;
}

aside.details {
    float: left;
    width: 28%;
    margin: 1em 0.5em;
}

aside.details table caption {
    background-color: azure;
}

aside.details table {
    text-align: center;
}

aside.details table a {
    color: black;
}

aside.details table a:hover {
    color: cornflowerblue;
}

