/*for search*/
nav.search a#search {
    color: azure;
}

nav.search a#search:hover {
    color: cornflowerblue;
}

main.search {
    margin: 1em;
}

main.search h4#searchResult {
    font-size: 20pt;
    margin: 0.8em 0.5em;
    font-weight: normal;
}

main.search form#sort {
    text-align: right;
    margin: 0.8em 1em;
}

main.search div#works {
    margin: 0.5em 3%;
    height: 1080px;
}

div#works div.cards {
    border: black solid 1px;
    background-color: lightyellow;
    width: 30%;
    height: 40%;
    margin: 1.5%;
    float: left;
    overflow: auto;
}

div.cards img {
    margin: 5%;
    float: left;
    height: 35%;
    max-width: 35%;
}

div.cards span.title {
    font-family: "Bradley Hand ITC", cursive;
    font-size: 24pt;
    float: left;
    width: 45%;
    height: 18%;
    margin: 5%;
    overflow: hidden;
}

div.cards span.artist {
    font-family: "Brush Script MT", cursive;
    font-size: 18pt;
    float: left;
    width: 45%;
    height: 8%;
    margin: 0 5%;
}

div.cards p.introduction {
    clear: both;
    font-family: "Times New Roman", serif;
    font-size: 16pt;
    width: 90%;
    margin: 5%;
    height: 18%;
    overflow: auto;
}

div.cards p.button {
    width: 90%;
    margin: 5%;
    text-align: center;
}

div.cards p.button a {
    font-family: "Times New Roman", serif;
    font-size: 14pt;
    padding: 2%;
    margin: 5%;
    background-color: cornflowerblue;
    color: white;
    border: cornflowerblue solid 2px;
}

div.cards p.button a:hover {
    color: cornflowerblue;
    background-color: white;
}

div#pagination {
    clear: both;
    width: 90%;
    margin: 2% 5%;
    padding: 2% 0;
}

div#pagination ul#ulPagination {
    text-align: center;
}

div#pagination ul#ulPagination li {
    display: inline;
    padding: 0.3em;
}

ul#ulPagination a {
    padding: 0.4em;
    color: black;
}

ul#ulPagination a:hover {
    border: cornflowerblue solid 1px;
    color: cornflowerblue;
}

ul#ulPagination a#ulPagination1 {
    border: cornflowerblue solid 1px;
    color: white;
    background-color: cornflowerblue;
}



/*for searchNull*/
main.search div#noResult {
    font-size: 20pt;
    text-align: center;
    height: 300px;
}
